<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>repState</key>
	<dict>
		<key>repState_2</key>
		<string>等待确认</string>
		<key>repState_4</key>
		<string>已确认</string>
		<key>repState_6</key>
		<string>已收件</string>
		<key>repState_8</key>
		<string>不满足返修条件</string>
		<key>repState_10</key>
		<string>等待换新货</string>
		<key>repState_12</key>
		<string>等待重新配送</string>
		<key>repState_14</key>
		<string>重新配送中</string>
		<key>repState_16</key>
		<string>已完成</string>
		<key>repState_18</key>
		<string>已注销</string>
		<key>repState_20</key>
		<string>等待确认</string>
		<key>repState_22</key>
		<string>已确认</string>
		<key>repState_24</key>
		<string>已收件</string>
		<key>repState_26</key>
		<string>不满足退货条件</string>
		<key>repState_28</key>
		<string>等待退款</string>
		<key>repState_30</key>
		<string>已完成</string>
		<key>repState_32</key>
		<string>已注销</string>
		<key>repState_40</key>
		<string>等待确认</string>
		<key>repState_42</key>
		<string>已确认</string>
		<key>repState_44</key>
		<string>已收件</string>
		<key>repState_46</key>
		<string>不满足退货条件</string>
		<key>repState_48</key>
		<string>等待重新配送</string>
		<key>repState_50</key>
		<string>重新配送中</string>
		<key>repState_52</key>
		<string>已完成</string>
		<key>repState_54</key>
		<string>已注销</string>
	</dict>
	<key>deliveryType</key>
	<dict>
		<key>deliveryType_1</key>
		<string>快递</string>
		<key>deliveryType_2</key>
		<string>EMS</string>
	</dict>
	<key>status</key>
	<dict>
		<key>status_2</key>
		<string>等待确认</string>
		<key>status_4</key>
		<string>返修已确认</string>
		<key>status_6</key>
		<string>已收件</string>
		<key>status_8</key>
		<string>原件返回</string>
		<key>status_10</key>
		<string>货到付款</string>
		<key>status_11</key>
		<string>货到付款-已确认</string>
		<key>status_12</key>
		<string>等待收货</string>
		<key>status_20</key>
		<string>待付款</string>
		<key>status_21</key>
		<string>已付款</string>
		<key>status_22</key>
		<string>等待收货</string>
		<key>status_23</key>
		<string>申请退款</string>
		<key>status_24</key>
		<string>退款成功</string>
		<key>status_60</key>
		<string>正在出库</string>
		<key>status_61</key>
		<string>商品出库</string>
		<key>status_75</key>
		<string>申请换货</string>
		<key>status_76</key>
		<string>已确认换货</string>
		<key>status_77</key>
		<string>等待收货</string>
		<key>status_80</key>
		<string>已取消</string>
		<key>status_85</key>
		<string>申请返修</string>
		<key>status_86</key>
		<string>已确认返修</string>
		<key>status_87</key>
		<string>等待收货</string>
		<key>status_99</key>
		<string>已完成</string>
		<key>status_2020</key>
		<string>付款失败，待付款</string>
		<key>status_2021</key>
		<string>已付款，确认中</string>
	</dict>
	<key>payType</key>
	<dict>
		<key>payType_1</key>
		<string>货到付款</string>
		<key>payType_11</key>
		<string>支付宝</string>
	</dict>
</dict>
</plist>
